<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/8puzzle/src/Solver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Solver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Fidel\OneDrive\Studying\Algorithms\Assignments\8puzzle\test\8puzzle\puzzle3x3-unsolvable1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="8puzzle"/>
</launchConfiguration>
